@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,400&display=swap');

.padding{
    background-color: white;
}
.howmany{
    color: red;
    font-weight: 700;
}

.rooms {
    
    list-style-type: none;
    
}

.house {
    background-color: white;

    border-bottom: .25em solid grey;
}

.details {
    background-color: white;
    border-bottom: .25em solid grey; 

}

.info {
    background-color: lightgray;
    }

