@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,400&display=swap');


.padding{
    background-color: white;
}
.howmany {
    color: black;
    font-weight: 700;
}

.property {
    color: #4c5666;
    border-radius: 3;
    font-family: Arial, Helvetica, sans-serif;
}

.rooms {
    
    list-style-type: none; 
}

.ul {
    display: inline-block;
}

.house {
    background-color: white;   
    border-bottom: .15em solid grey;
    width: 500px;   
}

.upper {
    text-transform: uppercase;
}

.details {
    background-color: white;
    border-bottom: .15em solid grey; 
    width: 500px; 
}

.info {
    background-color: #f8fafc;
    width: 500px; 
    }

.black {
    color: black;
}

